<table class="table table-hover table-striped table-bordered">
			<tr>
				<th>#</th>
				<th>Name <a ng-click='sort("name")' href="#"><i class="fa fa-sort"></i></a></th>
				<th>Age <a ng-click='sort("age")' href="#"><i class="fa fa-sort"></i></a></th>
				<th>Gender <a ng-click='sort("gender")' href="#"><i class="fa fa-sort"></i></a></th>
				<th>Salary <a ng-click='sort("salary")' href="#"><i class="fa fa-sort"></i></a></th>
			</tr>
			<tr ng-repeat="x in allData">
				<td>{{ $index+1 }}</td>
				<td>{{ x.name | uppercase }}</td>
				<td>{{ x.age }}</td>
				<td>{{ x.gender }}</td>
				<td>{{ x.salary | currency : 'INR ' }}</td>
			</tr>
		</table>	